@model labSP.Models.TaxiOutput
@{
    ViewBag.Title = "Расчет стоимости поездки такси";
}
<h1>Введите свои данные</h1>
<form method="get">
    <div>
        <h5>Кол-во пассажиров</h5>
        <input type="text" name="kolvo" value="@Model.kolvo.ToString().Replace(",",".")"/>
    </div>
    <div>
        <h5>Дистанция поездки (в км.)</h5>
        <input type="text" name="distance" value="@Model.distance.ToString().Replace(",",".")" />
    </div>
    <button type="submit">Посчитать</button>
</form>
<h3>Стоимость поездки (в долларах): @Model.value</h3>
<h3>Время поездки (в секундах): @Model.time</h3>
