@{
    ViewBag.Title = "Считаем";
}

<form action="/Home/Answers" method="post">
    <div class="mydiv">
        <table class="mytable">
            <tr>
                <th class="mynotmy">Компоненты сплава </th>
                <th class="mynotmy">Сплав №1</th>
                <th class="mynotmy">Сплав №2</th>
                <th class="mynotmy">Сплав №3</th>
                <th class="mynotmy">Минимум</th>
                <th class="mynotmy">Максимум</th>
            </tr>
            <tr>
                <th class="mynotmy">Cu</th>
                <th><input class="myinput" type="text" name="Alloy[0].Cu" value="0,35" /></th>
                <th><input class="myinput" type="text" name="Alloy[1].Cu" value="0,3" /></th>
                <th><input class="myinput" type="text" name="Alloy[2].Cu" value="0,25" /></th>
                <th><input class="myinput" type="text" name="Cuvalue.min" value="4" /></th>
                <th><input class="myinput" type="text" name="Cuvalue.max" value="10" /></th>
            </tr>
            <tr>
                <th class="mynotmy">Sn</th>
                <th><input class="myinput" type="text" name="Alloy[0].Sn" value="0,3" /></th>
                <th><input class="myinput" type="text" name="Alloy[1].Sn" value="0,25" /></th>
                <th><input class="myinput" type="text" name="Alloy[2].Sn" value="0,2" /></th>
                <th><input class="myinput" type="text" name="Snvalue.min" value="2,5" /></th>
                <th><input class="myinput" type="text" name="Snvalue.max" value="10" /></th>
            </tr>
            <tr>
                <th class="mynotmy">Pb</th>
                <th><input class="myinput" type="text" name="Alloy[0].Pb" value="0,1" /></th>
                <th><input class="myinput" type="text" name="Alloy[1].Pb" value="0,15" /></th>
                <th><input class="myinput" type="text" name="Alloy[2].Pb" value="0,1" /></th>
                <th><input class="myinput" type="text" name="Pbvalue.min" value="1" /></th>
                <th><input class="myinput" type="text" name="Pbvalue.max" value="4" /></th>
            </tr>
            <tr>
                <th class="mynotmy">Zn</th>
                <th><input class="myinput" type="text" name="Alloy[0].Zn" value="0,25" /></th>
                <th><input class="myinput" type="text" name="Alloy[1].Zn" value="0,3" /></th>
                <th><input class="myinput" type="text" name="Alloy[2].Zn" value="0,45" /></th>
                <th><input class="myinput" type="text" name="Znvalue.min" value="5" /></th>
                <th><input class="myinput" type="text" name="Znvalue.max" value="8" /></th>
            </tr>
            <tr>
                <th class="mynotmy">Стоимость</th>
                <th><input class="myinput" type="text" name="Alloy[0].Cost" value="4" /></th>
                <th><input class="myinput" type="text" name="Alloy[1].Cost" value="5" /></th>
                <th><input class="myinput" type="text" name="Alloy[2].Cost" value="8" /></th>
            </tr>
            <tr>
                <th class="mynotmy">Необходимый вес</th>
                <th><input class="myinput" type="text" name="requiredweight" value="14" /></th>
            </tr>
        </table>
        <button type="submit" class="mybutt">ДА</button>
    </div>
    <input type="text" name="Alloy[0].xid" value="1" hidden />
    <input type="text" name="Alloy[1].xid" value="2" hidden />
    <input type="text" name="Alloy[2].xid" value="3" hidden />
</form>